<launch>
 <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="1000000"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <param name="scan_frequency"      type="double" value="10.0"/>
  </node>


<node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0 3.14159 0 0 base_link laser 100"/>

  <!-- RTAB-Map Odometry 노드 실행 (ICP 기반) -->
  <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" 
output="screen">
    <param name="frame_id" value="base_link"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="scan_topic" value="/scan"/>
  </node>
</launch>
