SUBSYSTEM=="tty",  ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="24331303432351705021", MODE:="0777", SYMLINK+="motorarduino"
SUBSYSTEM=="tty",  ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", ATTRS{serial}=="24331303432351503150", MODE:="0777", SYMLINK+="gasarduino"

